<?xml version="1.0"?>
<config>
    <modules>
        <Op_Checkout>
            <version>1.0.0</version>
        </Op_Checkout>
    </modules>
    <global>
        <helpers>
            <opcheckout>
                <class>Op_Checkout_Helper</class>
            </opcheckout>
        </helpers>
        <blocks>
            <opcheckout>
                <class>Op_Checkout_Block</class>
            </opcheckout>
        </blocks>
        <models>
            <opcheckout>
                <class>Op_Checkout_Model</class>
            </opcheckout>
            <opcheckout_api>
                <class>Op_Checkout_Model_Api</class>
            </opcheckout_api>
        </models>
        <resources>
            <opcheckout_setup>
                <setup>
                    <module>Op_Checkout</module>
                    <class>Op_Checkout_Model_Resource_Setup</class>
                </setup>
            </opcheckout_setup>
        </resources>
        <template>
            <email>
                <canceled_order_payment_verification>
                    <label>Canceled Order Payment Verification Notification</label>
                    <file>canceled_order_payment_verification.html</file>
                    <type>html</type>
                </canceled_order_payment_verification>
            </email>
        </template>

     <sales>
        <order>
            <statuses>
                <pending_checkout translate="label">
                    <label>Pending Checkout</label>
                </pending_checkout>
            </statuses>
        </order>
    </sales>

        <!--events>
            <checkout_submit_all_after>
                <observers>
                    <op_checkout_observer>
                        <type>singleton</type>
                        <class>opcheckout/observer</class>
                        <method>choosePayment</method>
                    </op_checkout_observer>
                </observers>
            </checkout_submit_all_after>
            <sales_order_place_before>
                <observers>
                    <op_checkout_observer>
                        <type>singleton</type>
                        <class>opcheckout/observer</class>
                        <method>processLastPayment</method>
                    </op_checkout_observer>
                </observers>
            </sales_order_place_before>
        </events-->
    </global>

    <frontend>
        <routers>
            <opcheckout>
                <use>standard</use>
                <args>
                    <module>Op_Checkout</module>
                    <frontName>opcheckout</frontName>
                </args>
            </opcheckout>
        </routers>
        <layout>
            <updates>
                <opcheckout>
                    <file>opcheckout.xml</file>
                </opcheckout>
            </updates>
        </layout>
        <!--translate>
            <modules>
                <Op_Checkout>
                    <files>
                        <default>Op_Checkout.csv</default>
                    </files>
                </Op_Checkout>
            </modules>
        </translate-->
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Mage_Paypal before="Mage_Adminhtml">Op_Checkout_Adminhtml</Mage_Paypal>
                    </modules>
                    <frontName>rescueorder</frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <module_button>
                        <class>opcheckout/observer</class>
                        <method>addUnCancelOrderButton</method>
                    </module_button>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
        <translate>
            <modules>
                <Op_Checkout>
                    <files>
                        <default>Op_Checkout.csv</default>
                    </files>
                </Op_Checkout>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <opcheckout>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <model>opcheckout/opcheckoutPayment</model>
                <title>OP Checkout</title>
                <lang>fi_FI</lang>
                <embed_bank_selection>1</embed_bank_selection>
                <log>1</log>
                <hidelayout>1</hidelayout>
                <order_status>pending</order_status>
                <cart_rule_tax_percent>0</cart_rule_tax_percent>
                <use_fader>1</use_fader>
                <logo>https://cdn2.hubspot.net/hubfs/2610868/ext-media/op-psp-master-logo.svg</logo>
            </opcheckout>
        </payment>
    </default>
</config>
